#pragma once

#include <stdint.h>

/**
 * I'm really afraid of catching a media noise as well as another transmitter interference.
 * So, please, change both CHANNEL and CIPHER to YOUR OWN unique numbers
*/

static const uint8_t CHANNEL = 0x35;

static const uint64_t PIPE_ADDRESS = 0x1122334455LL;

static const char CIPHER[] = "";
